{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Dictionary</title>
  </head>
  <body>
    <div>
    <div>
        <h1>DICTIONARY</h1>
    </div>
    <br><br><br><br>
    <div>
        <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            {% if error_message %}
            <p>
                <strong>{{ error_message }}</strong>
            </p>
            {% endif %}
            <input type="text" name="word" placeholder="search here" class="input-button-1"><br>
            <input type="submit" name="" value="Search" class="input-button-2">
        </form>
        <hr>
        <h4>{{word}}</h4>
        <h5>{{text}}</h5>
    </div>
    </div>
  </body>
</html>